body {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: x-small;
	color: grey;
}

ul, h1, h2, h3, p {
	margin-left: 25%;
	margin-right: 25%;
}

li.one {
	background-color: #ffff00;
}

li.two {
	background-color: #ffa467;	
}

h1, .repeat {
	border-bottom: black;
	border-left: black;
	border-right: black;
	border-top: black;
	border-width: 5px;
	border-style: double;
	font-size: 28px;
}