body
{
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

tr
{
	text-align: left;
}

th.form1
{
	width: 30%;
}

th.form2
{
	width: 60%;
}

th.results1
{
	width: 25%;
}

.error
{
	color: #FF0000;
}

.success
{
	color: #008000;
}
